@media print {
  html,
  body {
    min-height: 100vh; /* Use 100% here to support printing more than a single page*/
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  body * {
    display: hidden;
  }

  .page-body {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    min-height: 100vh;
    width: 100% !important;
    padding: 0 !important;
    overflow: auto;
    visibility: visible;
  }

  @page {
    margin: 15mm;
  }
}
